* {margin:0; padding: 0;}

html, body {height:100%; background-color: #FFF;}

.bgParallax {
	font-family: 'Elsie', cursive;
	color:#FFF;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	min-height: 100%;
	text-shadow:0 0 10px rgba(0,0,0,0.7);
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
}

#quemsomos {background-image: url(flor.png);}

.bgParallax article {
  width: 70%;
  text-align: center;
  margin:0 auto;
  padding:20% 0 0;
}

article h1 {font-size:40px;}
article p {line-height: 30px; font-size:20px; margin-top:15px;}

.header {
  	background-color: #DC143C; 
  	border-bottom: 1px solid #466995;
  	overflow-y: auto;
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 10000;
  	padding: 10px 50px;
}

.header nav {
	float: center;
	padding: 0 100px 0 0;
}

.circulo {
	float: left;
	background: #FFF;
	border-radius: 100%;
	width: 80px;
	height: 80px;
	width: 0%;
	height: 0%;
}

ul {
  	margin: 20px auto;
  	text-align: auto;
}

li{
  	color: #DC143C;
  	display: inline-block;
  	font-family: sans-serif;
  	font-size: 20px;
  	text-align: center;
  	font-weight: 200px;
  	text-transform: uppercase;
  	padding: 5px 30px;
  	background-color: #FFF;
  	width: 100px;
	height: 20px;
	margin: 2px 5px;
}

li:hover {
	color: #800000;
}

h2{
	color: #DC143C;
  	display: inline-block;
  	font-family: sans-serif;
  	font-size: 30px;
  	text-align: center;
  	font-weight: 200px;
	text-transform: uppercase;
}
#wrap{
	max-width: 1000px;
	width: 100%;
	padding: 5px;
	position: relative;
	margin: 200px auto;
	background: #DC143C;
	overflow: hidden;
	height: 800px;
}

#esquerda{
	float: top;
	text-align: center;
	background-color: pink;
	width: 100%;
	height: 50%;
}

#content{
	background-color: #FFF;
	float: bottom;
	width: 100%;
	height: 50%;
}

#acima{
	float: top;
	width: 97%;
	height: 48.5%;
	position: relative;
	margin: 5px auto;
	text-align: right;
	background-color: rgba(150, 23, 23, 0.8);
}

#baixo{
	float: bottom;
	width: 97%;
	height: 46%;
	position: relative;
	margin: 5px auto;
	text-align: right;
	background-color: #00BFFF;
}

#d{
	float: right;
	width: 240px;
	background-color: #800080;
	width: 0%;
	height: 0%;
	margin: 5px;
}

#e{
	float: left;
	text-align: center;
	background-color: #A9A9A9;
	width: 97%;
	height: 93%;
	margin: 5px;
}

#AAA{
	float: top;
	width: 96%;
	height: 47%;
	position: relative;
	margin: 5px auto;
	background-color: #FFF;
}

#BBB{
	float: bottom;
	width: 96%;
	height: 47%;
	position: relative;
	margin: 5px auto;
	background-color: #000;
}
